body{
    display: flex;
    flex-wrap: wrap;
}

.card_produto{
    width: 320px;
    margin: 16px;
    border: 1px solid #bbb;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.sem_desconto_id{
    color: red; 
}