.lista-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card{
  border: 1px solid #868686;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 10px;
  box-shadow: 6px 6px 8px #b7b7b7;
  border-radius: 10px;
  cursor: pointer;
}

.grupo-img{
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
}

.textos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.valores{
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.com-desc{
  font-weight: bold;
  font-size: 22px;
}

.sem-desc{
  color: red;
  text-decoration: line-through;
  font-size: 17px;
}