{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <h1>Página Inicial</h1>

        <a href="{% url 'form_categoria' %}">
            <button>+ Categoria</button>
        </a>

        <a href="{% url 'form_produto' %}">
            <button>+ Produto</button>
        </a>
        
        <div>
            {% for x in produtos %}
                <a href="{% url 'pg_detalhes' x.id %}">
                    <h4>{{ x.categoria }}</h4> 
                    <h3>{{ x.nome_produto }}</h3>
                    <img src="{{ x.foto_produto.url }}" alt="não renderizou" width="200" height="200">
                    <p>{{ x.descricao }}</p>
                    <span>{{ x.valor }}</span>
                </a>
            {% endfor %}
        </div>
    </body>
</html>